.container {

	padding: 1px;
	margin: 10px;
	margin-top: 0px;
	/* border: 3px solid green; */
 }
.donate {
	text-align: center;
 }

 .hr{
	 margin: 5px;
 }
 .vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
 }

 .center{
	text-align: center;

 }

 ol.center-list{
	display: table;
	margin-left: auto;
	margin-right: auto;
	list-style-position: inside;
 }


 .col-item {
	width: 49%;
	margin-right: 2%;
	margin-bottom: 15px;
	/* border: 1px solid blue; */
	padding: 5px;
	box-sizing: border-box;
 }
 
 .col-item:nth-child(2n) {
	margin-right: 0;
	padding-right: 0;
 }
 
 .col-item:nth-last-child(2),
 .col-item:last-child {
	margin-bottom: 0;
 }
 
 .wrapper {
	display: flex;
	flex-wrap: wrap;
	position: relative;
 }
 
 .wrapper:after {
	content: "";
	position: absolute;
	top: 0;
	left: calc(50% - 1px);
	height: 100%;
	border-right: 1px solid grey;
 }


 .tt{
	height: 10px;
 }
.bl {
	background-color: #015eb8;
	height: 10px;
}

.ye {
	height: 10px;
	background-color: #ffd100;

}
 
